
.container{
    justify-content: center;
}

.card {
    position: relative;
    height: 150px;
    background: #fcfcfc;
    margin: 20px 40px;
    transition: 0.4s all;
  }

  @media only screen and (min-width: 600px) {
  .card {
    width:700px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.623);
    
  }
}

